/* No Color Headers */
#NCHeader {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wtitle {
  margin-top: 80px;
  padding: 50px;
}

.wtitle h2 {
  font-size: 5em;
  color: #0d0d0d;
  font-family: "pattaya";
}

/*END No Color Headers */
/* Form */
.row {
  margin-right: 0;
}

body {
  background: url("bg.jpg") no-repeat top center;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  width: 100%;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  background: #0d0d0d;
  padding: 20px;
  border-radius: 0 10px 0 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4%;
}

.input-fields .input,
.msg textarea {
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #F2CC0F;
  width: 100%;
}

.msg textarea {
  height: 163px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #F2F2F2;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #F2F2F2;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #F2F2F2;
}

#message {
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  color: #0d0d0d;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "pattaya";
  font-size: 1.5em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  margin-left: 33%;
  margin-bottom: 20px;
}

#message:hover {
  color: #0d0d0d !important;
  background-color: #8CBF3F;
  border-color: #8CBF3F;
}

label h4 {
  font-size: 1.2em;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #F2F2F2;
  font-family: "pattaya";
}

.coll {
  padding: 0 !important;
}

.jumbotron {
  padding: 0;
  margin: 0 auto;
}

.sub {
  background-color: #0d0d0d;
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0  0 10px 0;
}

#emailphone {
  background-color: #0d0d0d;
  font-size: 3.5em;
  color: #F2F2F2;
}

.maillink {
  font-family: "pattaya";
  color: #F2F2F2;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.maillink:hover {
  text-decoration: none;
  color: #9453A6;
}

.pmaillink {
  font-family: "Henny Penny";
  color: #F2F2F2;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  padding-top: 50px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .maillink {
    font-size: 0.8em;
  }
  .pmaillink {
    font-size: 0.9em;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  #del {
    display: none;
  }
  .contact-form {
    border-radius: 10px 10px 0 0;
  }
  .sub {
    border-radius: 0  0 10px 10px;
  }
  .maillink {
    font-size: 0.8em;
  }
  .pmaillink {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 768px) {
  .wtitle h2 {
    font-size: 4em;
  }
  .contact-form {
    border-radius: 10px 10px 0 0;
  }
  .sub {
    border-radius: 0  0 10px 10px;
  }
  .maillink {
    font-size: 0.6em;
  }
  .pmaillink {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 576px) {
  label h4 {
    margin-left: 110px;
  }
  .wtitle h2 {
    font-size: 2.2em;
  }
  .contact-form {
    border-radius: 10px 10px 0 0;
  }
  .sub {
    border-radius: 0  0 10px 10px;
  }
}

/* END Form */
/* Nav bar */
.rnav {
  position: fixed;
  z-index: 1;
}

.logo {
  width: 80px;
  top: 0;
}

.hicon {
  width: 50px;
}

nav {
  background-color: #0d0d0d;
}

nav a {
  font-size: 2em;
  font-family: "pattaya";
  text-align: center;
}

nav a span {
  color: #F2F2F2;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#navword4 {
  -webkit-text-decoration: underline #9453A6;
          text-decoration: underline #9453A6;
}

#navword1:hover {
  color: #8CBF3F;
  -webkit-text-decoration: underline #9453A6;
          text-decoration: underline #9453A6;
}

#navword2:hover {
  color: #F2CC0F;
  -webkit-text-decoration: underline #8CBF3F;
          text-decoration: underline #8CBF3F;
}

#navword3:hover {
  color: #9453A6;
  -webkit-text-decoration: underline #F2CC0F;
          text-decoration: underline #F2CC0F;
}

#navword4:hover {
  color: #8CBF3F;
  -webkit-text-decoration: underline #9453A6;
          text-decoration: underline #9453A6;
}

#navword5:hover {
  color: #9453A6;
  -webkit-text-decoration: underline #F2CC0F;
          text-decoration: underline #F2CC0F;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav a {
    font-size: 1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav a {
    font-size: 1.5em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 720px) {
  nav a {
    font-size: 1.5em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 960px) {
  nav a {
    font-size: 2em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1140px) {
  nav a {
    font-size: 2em;
  }
}

/*END Nav bar */
/* footer */
ul.footer-list-top {
  list-style: none;
  margin: 0 auto !important;
  padding: 0 0 0 0 !important;
}

a {
  text-decoration: none;
}

.generic-anchor {
  color: #F2F2F2;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-family: "Roboto";
}

.generic-anchor2 {
  font-family: "Roboto";
  color: #0d0d0d;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.flex-rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

footer {
  background: #0d0d0d;
  margin-top: auto;
  width: 100%;
}

.rcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 5px;
}

.footer-list-header {
  color: #F2F2F2;
  font-size: 1.5em;
  font-family: "pattaya";
}

.footer-list-anchor {
  font-family: "pattaya";
  font-size: 1.2em;
}

.footer-social-section {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background: #F2F2F2;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 2px solid;
  border-color: #F2CC0F;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #F2F2F2;
  padding: 0 20px;
  border-radius: 10px;
}

.footer-social-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  font-family: "pattaya";
  color: #0d0d0d;
}

.footer-social-overlap > a {
  font-size: 1.5em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.4em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #0d0d0d;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1em;
  color: #F2F2F2;
  font-family: "Roboto";
}

.footer-address {
  display: inline;
  font-style: normal;
}

.mail:hover {
  color: #9453A6;
}

.fb:hover {
  color: #8CBF3F;
}

.twitter:hover {
  color: #F2CC0F;
}

.insta:hover {
  color: #9453A6;
}

.yt:hover {
  color: #8CBF3F;
}

.sitemap1:hover {
  color: #9453A6;
}

.sitemap2:hover {
  color: #8CBF3F;
}

.sitemap3:hover {
  color: #F2CC0F;
}

.sitemap4:hover {
  color: #9453A6;
}

.sitemap5:hover {
  color: #8CBF3F;
}

.footer-ns {
  padding: 10px 25px;
  border-color: transparent;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.footer-ns h4 {
  color: #F2F2F2;
  font-size: 1.5em;
  font-family: "pattaya";
  text-align: center;
}

.footer-ns p {
  font-size: 1em;
  font-family: "Roboto";
  color: #F2F2F2;
}

.footer-ns .btn {
  color: #F2F2F2;
  font-size: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn:hover {
  color: #8CBF3F;
}

.fh1:hover {
  color: #F2CC0F;
  cursor: context-menu;
}

.fh2:hover {
  color: #8CBF3F;
  cursor: context-menu;
}

.fh3:hover {
  color: #9453A6;
  cursor: context-menu;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .fh1, .fh2, .fh3 {
    font-size: 1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
  .fh1, .fh2, .fh3 {
    font-size: 1em;
  }
}

/*END footer*/
body html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto";
}

.backgroundimg {
  background-image: url(../images/sitebg2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.mainco {
  position: relative;
  z-index: 0;
  margin-top: 120px;
}
/*# sourceMappingURL=contact.css.map */