
@import "faqsite";
@import "faqnav";
@import "footer";



$colors: (
    DPurple : #9453A6,
    DGreen : #8CBF3F,
    DYellow : #F2CC0F,
    DWhite : #F2F2F2,
    DBlack : #0d0d0d,
);

$fonts: (
   fheader : "pattaya",
   fheader2 : "Henny Penny",
   ftext : "Roboto",
);

//autoprefixer & reset used
//Tested on Chrome, Firefox, IE11, and iOS.  The responsiveness & the social section is a bit off on IE11.  I'm looking to fix that.
//It would be best to break down the flex properties into logical classes.  I've actually done that more extensively on the live Pavilion site,  but I've only included one here: flex-rw.

body html {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin: 0;
padding: 0;
height: 100%;
margin: auto;
display: flex;
flex-flow: column nowrap;
justify-content: space-between; //This justify-content is essentially unnecessary in Firefox and Chrome due to the flex: 1 1 auto on the main.  However, it's needed to push the footer down on IE11
font-family: map-get($fonts ,ftext);
}

//---------------------------------

.backgroundimg {
    background-image: url(../images/sitebg2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.mainco {
    position: relative;
    z-index: 0;
    margin-top: 120px;
}







